{% extends 'html/base.html' %}
{% block title %}Job info{% endblock %}
{% block content %}
{% if user.is_superuser %}
		<div id="accordion">
		{% for j in t %}
		<h3>{{j.title}}</h3>
		<div class="row">
			<div class="col col-sm">
				<img class="card-img-top" src="{{j.com_image.url}}" alt="Card image" style="height:40px;width:10%">
				<p>Loaction : {{j.location}}</p>
				<p>Salary : {{j.salary}}</p>
				
			</div>
			<div class="col col-sm">
				<p>Skills Required : {{j.skills}}</p>
			</div>
			<p>Job Description : {{j.descrip}}</p>
			<div class="row">
				<div class="col col-sm">
			<a href="{% url 'view' %}" class="btn btn-info text-light col-sm">View</a>
		</div>
			</div>
		</div>
 {% endfor %}
</div>

</div>
{% elif user.role == 1 %}
	<div class="container mt-5">
		<div class="row">
			<div class="col col-sm">
				<h3>Job info</h3>
			</div>
			<div class="col col-sm">
				<h3>Student info</h3>
			</div>
		</div>
	</div>
	<div id="accordion">
		{% for j in t %}
		<h3>{{j.title}}</h3>
		<div class="row">
			<div class="col col-sm">
				<img class="card-img-top" src="{{j.com_image.url}}" alt="Card image" style="height:40px;width:10%">
				<p>Loaction : {{j.location}}</p>
				<p>Salary : {{j.salary}}</p>
				
			</div>
			<div class="col col-sm">
				<p>Skills Required : {{j.skills}}</p>
			</div>
			<p>Job Description : {{j.descrip}}</p>
			<div class="row">
				<div class="col col-sm">
			<a href="{% url 'view' %}" class="btn btn-info text-light col-sm">View</a>
		</div>
			</div>
		</div>
 {% endfor %}
</div>

</div>

	{% elif user.role == 2 %}
	<div id="accordion">
		{% for j in t %}
		<h3>{{j.title}}</h3>
		<div class="row">
			<div class="col col-sm">
				<img class="card-img-top" src="{{j.com_image.url}}" alt="Card image" style="height:40px;width:10%">
				<p>Loaction : {{j.location}}</p>
				<p>Salary : {{j.salary}}</p>
				
			</div>
			<div class="col col-sm">
				<p>Skills Required : {{j.skills}}</p>
			</div>
			<p>Job Description : {{j.descrip}}</p>
			<div class="row">
				<div class="col col-sm">
			<a href="{% url 'view' %}" class="btn btn-info text-light col-sm">View</a>
		</div>
		<div class="col col-sm">
			<a href="#" class="btn btn-info text-light col-sm">Apply</a>
		</div>
			</div>
		</div>
 {% endfor %}
</div>

</div>

{% else %}
<h3>No Access to Jobs</h3>
{% endif %}

</div>
<script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>
{% endblock %}
